

<%= link_to 'Articles', controller: 'articles', action: 'index' %>

<%#=link_to 'Txt', controller: 'welcome', action: 'txt', txtob: @txtob %>




<div class='jsgo_btn'>jsgo2</div>

<%= link_to 'bot', bot_path %>

