

<div class='MainLink'><%= link_to 'Статьи', controller: 'articles', action: 'index' %></div>

<div class='MainLink'><%= link_to 'Пример работы скриптов', controller: 'welcome', action: 'ss' %></div>

<div class='MainLink'><%#=link_to 'Txt', controller: 'welcome', action: 'txt', txtob: @txtob %></div>

<div class='MainLink'><%= link_to 'Bot', bot_path %></div>

