<% provide(:title, 'SQL tests') %>



<script type="text/javascript">
    $(function () {
		// init and start map
		zerura.Init({
			gkey: "",
			gdebug: true,
			protocol: "http",
			glibraries: "places",
			inited: true
		});
    });
</script>


<div style="border-bottom: 1px solid #333;">
	data from PostgreSQL by raw request
</div>



<div style="margin: 5px; border-bottom: 1px dotted #666;">
	<% @records.each do |rec| %>
		<div style="padding: 4px; color: #666;">
			<%= rec['Title'] %>
		</div>
	<% end %>
</div>


<div style="margin: 5px; border-bottom: 1px dotted #666;">
	<% @records2.each do |rec| %>
		<div style="padding: 4px; color: #666;">
			<%= rec['Text'] %>
		</div>
	<% end %>
</div>



<div class="TestoBlock">

</div>




<% if (@zeh != nil && !@zeh.get_deb.nil? && !@zeh.get_deb().empty?) %>
<div style='color:#B30000; margin: 0 10px; padding: 10px; border: 1px solid #B30000; background-color: #FFE5E5;font-weight: bold;'>
	<%= @zeh.get_deb %>
</div>
<% end %>





